* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#main {
    display: flex;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
    height: 100%;
    background-image: url('../assets/bg-pattern-top.svg'), url('../assets/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: -45% 210%, 135% -155%;
}

#card {
    width: 23%;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-pattern {
    width: 100%;
}

.card-pattern img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 150px;
    display: block;
}

.card-profile {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

figure {
    position: inherit;
    top: -60px;
    border: 8px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.card-profile img {
    width: 100%;
    height: 100%;
}

.card-name {
    margin-top: -45px;
    margin-bottom: 25px;
    line-height: 25px;
    text-align: center;
}

.card-name h2 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
}

h2.age {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.card-name p {
    color: hsl(227, 10%, 46%);
    font-size: 14px;
    font-weight: 400;
}

div.name {
    display: flex;
}

.name h2 {
    padding: 0 5px;
}

.card-details {
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.align {
    text-align: center;
}

.align h2 {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.align p {
    font-size: 8px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}

.line {
    width: 100%;
    border-top: 1px solid #d4d4d4;
}