* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', serif;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    overflow: hidden;
}

#main {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
    height: 100%;
    /* background-image: url('../assets/bg-pattern-top.svg'), url('../assets/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: -45% 210%, 135% -155%; */
}

img.position1 {
    position: absolute;
    top: -75%;
    left: -15%;
    width: 65%;
}

img.position2 {
    position: absolute;
    bottom: -80%;
    right: -15%;
    width: 65%;
}

@media only screen and (min-width: 1350px) {
    img.position1 {
        position: absolute;
        top: -75%;
        left: -15%;
        width: 65%;
    }
    img.position2 {
        position: absolute;
        bottom: -80%;
        right: -15%;
        width: 65%;
    }
}

@media only screen and (max-width: 1350px) {
    img.position1 {
        position: absolute;
        top: -70%;
        left: -15%;
        width: 70%;
    }
    img.position2 {
        position: absolute;
        bottom: -75%;
        right: -15%;
        width: 70%;
    }
}

@media only screen and (max-width: 1100px) {
    img.position1 {
        position: absolute;
        top: -60%;
        left: -25%;
        width: 75%;
    }
    img.position2 {
        position: absolute;
        bottom: -70%;
        right: -20%;
        width: 75%;
    }
}

@media only screen and (max-width: 992px) {
    img.position1 {
        position: absolute;
        top: -45%;
        left: -25%;
        width: 80%;
    }
    img.position2 {
        position: absolute;
        bottom: -50%;
        right: -20%;
        width: 80%;
    }
}

@media only screen and (max-width: 660px) {
    img.position1 {
        position: absolute;
        top: -25%;
        left: -30%;
        width: 80%;
    }
    img.position2 {
        position: absolute;
        bottom: -30%;
        right: -30%;
        width: 80%;
    }
}

@media only screen and (max-width: 510px) {
    img.position1 {
        position: absolute;
        top: -20%;
        left: -45%;
        width: 90%;
    }
    img.position2 {
        position: absolute;
        bottom: -20%;
        right: -35%;
        width: 90%;
    }
}

#card {
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.card-pattern {
    width: 100%;
}

.card-pattern img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 150px;
    display: block;
}

.card-profile {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

figure {
    position: inherit;
    top: -60px;
    border: 8px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.card-profile img {
    width: 100%;
    height: 100%;
}

.card-name {
    margin-top: -45px;
    margin-bottom: 25px;
    line-height: 25px;
    text-align: center;
}

.card-name h2 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
}

h2.age {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.card-name p {
    color: hsl(227, 10%, 46%);
    font-size: 14px;
    font-weight: 400;
}

div.name {
    display: flex;
}

.name h2 {
    padding: 0 5px;
}

.card-details {
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.align {
    text-align: center;
}

.align h2 {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.align p {
    font-size: 8px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}

.line {
    width: 100%;
    border-top: 1px solid #d4d4d4;
}